.minicard__container {
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px !important;
    border: 2px solid #FFDA6A !important;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1) !important;
    width: 11rem !important;
}
