.infai_inner_content_order {
  display: flex;
  flex-direction: row;
  //justify-content: center;
  align-items: center;
  margin-top: 2.5rem !important;
  margin-left: 3rem !important;
}

.card__heading__order {
  font-family: "Work Sans", sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px !important;
  color: #131e27 !important;
  margin-left: 14px !important;
}

.intel__tab-container__order {
  width: 93%;
  margin-left: 3rem;
}

.back-btn{
  margin-bottom: 2px !important;
}

