@import "../../styles/breakpoints";

.reporttable__container {
  margin-top: 4rem !important;
  margin-left: 2rem !important;
  margin-right: 1px !important;
  margin-bottom: 1rem !important;
  max-width: 97%;
  overflow: hidden !important;

  border-radius: 10px 10px 0px 0px !important;
}

.reporttable__header {
  background-color: #f0f0f0 !important;
  margin-left: -2px;
}

.reporttable__header-heading {
  font-family: "Work Sans", sans-serif !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #666666 !important;
  overflow-wrap: break-word !important;
  width: 0.1rem !important;
  line-height: 14px !important;
}

.reporttable__data {
  font-family: "Work Sans", sans-serif !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important ;
  color: #222834 !important;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 20px;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 20px;
}

.reporttable__footer-data {
  background-color: rgba($color: #ffda6a, $alpha: 0.3);
  color: #0b0326;
  border-left-color: rgba($color: #ffda6a, $alpha: 0.01);
  border-left-width: 20px;
  border-left-style: solid;
  border-right-color: rgba($color: #ffda6a, $alpha: 0.01);
  border-right-width: 20px;
  border-right-style: solid;
}

.reporttable__footer-data-bold {
  font-weight: 600 !important;
  font-size: 16px !important;
}
