.card__subheading-outline {
    padding: 0.5rem 2rem !important;
    background-color: #f0f0f0  ;
    font-weight: 600 !important;
    font-family: "Work Sans", sans-serif !important;
    font-size: 18px  
  }

  