
.iai_login_header_main {
    background-color: #0B0326!important;
    
    .iai_login_header_topbar {
        height: 80px;
    }
}



.iai_login_header_title {
    margin-left: 100px!important
}

.iai_login_header_button {
    margin-right: 100px!important;
    background-color: #FFDA6A!important;
    color: #0B0326!important;
    border-radius: 5px

}
