.videoPlayer {
  width: 100%;
  border-radius: 10px !important;
  overflow: hidden;
}

.object {
  &__classes {
    padding: 15px !important;
    margin: 20px 0 !important;
    border-radius: 15px !important;
  }

  &__chip {
    border-radius: 5px !important;
    margin-bottom: 5px !important;
    color: gray !important;
  }
}

// Package Class
.video-react {
  padding: 0 !important;
  height: 75vh !important;
}

.video-react-video {
  height: 100% !important;
}

.video-react-big-play-button-left {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.video-react-button {
  display: none !important;
}
