@import "../../styles/breakpoints";

.overview-main__body {
  flex-grow: 1;
  width: 100%;
  height: 100% !important;

  @include xs {
    /*  margin-left: 10px; */
  }
  //for devices above 600px
  @include sm {
    margin-left: 1.6rem;
  }
  //for mobile device below 600px
  @include xs-max-width {
    margin-left: 1.4rem;
  }
}

.overview__content {
  padding-left: 1.7rem !important;
  padding-right: 1rem !important;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
}

.overview-heading {
  margin-top: 0.4rem !important;
  margin-bottom: 1.15rem !important;
  font-family: "Work Sans", sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  color: #131e27 !important;
}

.overview__table {
  margin-left: 0.1rem !important;
  margin-right: 1rem !important;
}

.overview__table .MuiTableContainer-root {
  box-shadow: none !important;
}

.bottom{
  margin-bottom: 2rem;
}

.overview__table .MuiTable-root {
  border: 0.001px solid rgba(224, 224, 224, 1) !important;
  box-shadow: none !important;
  border-radius: 10px !important;
}

.overview__table-row {
  height: 0.8rem !important;
  border-color: gray;
}

.overview__table-key {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: rgba($color: #000000, $alpha: 0.6);
}

.overview__table-value {
  width: 45% !important;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.order__overview__table-value {
  width: 45% !important;
  font-family: "Work Sans", sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 125%;

  text-align: left;
  color: #5a5a5a !important;
}

.value {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-right: 2rem !important;
  padding: 10px !important;
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}

.value-status {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-right: 2rem !important;
  padding: 10px !important;
  padding-right: 5.5rem !important;
  margin-top: -8px !important;
  margin-bottom: -8px !important;
  margin-left: 0.4rem;
}

.sts__order {
  display: block !important;
  font-family: "Work Sans", sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #b09854;
}

.overview__table-value button {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 125%;
  color: #131e27;
  padding: 7px 10px;
  background-color: #f9f8f4;
  border: 1px solid #131e27;
  box-sizing: border-box;
  border-radius: 5px;
}
