@import "./admin/styles/breakpoints";
body {
  margin: 0px;
  [data-amplify-authenticator] [data-amplify-container]{
    width:100%;
    min-height: 100vh;
    background-image: url('./frontend/login/images/bg.png');
   
    [data-amplify-router]{
      margin: 25vh 60vh;
      border-radius: 15px;
      .amplify-textfield{
        margin:  10px 0;
        background:#F5F5F5;
        border-radius: 10px;
      }
      
    }
    
    [data-amplify-authenticator-signin]{

      .amplify-button{
        background-color: #FFDA6A!important;
        border-radius: 5px;
        color: #000;
        font-weight: 400;
      }
    }

    [data-amplify-authenticator-resetpassword]{
      .amplify-button:first-child{
        background-color: #FFDA6A;
        border-radius: 5px;
        color: #000;
        
      }
      .amplify-button:nth-child(2){
        background-color: #FFF;
        border-radius: 5px;
        color: #000
      }
    }

    
    [data-amplify-footer]{
      button{
        background-color: #fff;
        border:none;
        color:#000
      }
    }
  }
}

/* Style for container */
.parent-container {
  display: flex;
  background-color: #e5e5e5;
  height:max-content !important; 
  min-height: 100vh !important;

  //for mobile device below 600px
  @include xs-max-width {
    width: 100vh;
    padding-right: 2.5rem !important;
    overflow: auto;
  } 

  @include xl-max-width {
    width: 2000px;
    height: 4000px !important;
    padding-right: 2rem !important;
  }
}

.infai_fill_width {
  /* background: red; */
  margin-left: 115px;
  margin-top: 65px;
  width: 100%;
}

.infai_fill_width_grid {
  margin-top: 62px !important;
  width: 100%;
  margin-left: 87px;

  //for devices till 600px
  @include xs {
    margin-left: 10px !important;
  }

  //for devices above 600px
  @include sm {
    margin-left: 87px !important;
  }
}
/* Style for tab */
.MuiTab-root {
  text-transform: unset !important;
}
