.contactcard {
  background: #f7f5ff;
  min-height: 120px;
  border-radius: 20px;
  margin-top: -10px !important;
  margin-left: -13px !important;
}

.contactcard .MuiCard-root{
    box-shadow: none;
}

.contactcard__grid {
  padding: 15px;
  min-height: 120px;
  border-radius: 40px;
}
.contactcard__grid1{
    padding-left: 3.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    min-height: 120px;
    border-radius: 40px;
  }

.contactcard_name {
  padding-top: 30px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Work Sans", sans-serif !important;
  color: grey;
}
.contactcard_phone {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #131e27;
  font-family: "Work Sans", sans-serif !important;
}
.contactcard_icons {
  margin: 6px;
  border-radius: 7px;
  background: #f7ebb0;
  color: #000;
}
